<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello, World!!</h1>
    <p>Hi</p>
    <p>{{ name }}</p>
    <p>{{ age }}</p>

    {% if age > 20 %}
        <p>Eligible</p>
    {% else %}
        <p>Not eligible</p>
    {% endif %}

    {% for score in scores %}
        <p>{{ score }}</p>
    {% endfor %}
</body>
</html>